name: "Voltronic Inverter MQTT"
version: "1.0.0"
slug: "voltronic_mqtt"
description: "Addon para leer datos del inversor Voltronic y publicar en MQTT"
arch:
  - aarch64
  - armv7
  - amd64
init: false
full_access: true
privileged:
  - SYS_ADMIN
  - SYS_RAWIO
devices:
  - /dev/hidraw0
map:
  - config:rw
options:
  device: "/dev/hidraw0"
  mqtt_host: "192.168.1.XXX"
  mqtt_user: "mqtt-user"
  mqtt_password: "mqtt-pass"
  mqtt_port: 1883
schema:
  device: str
  mqtt_host: str
  mqtt_user: str
  mqtt_password: password
  mqtt_port: int

