name: "Voltronic Inverter HAOS"
description: "Addon para leer datos del inversor Voltronic con compatibilidad HAOS"
version: "1.1.3"
slug: "voltronic_haos"
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
init: false
host_ipc: true
host_network: true
full_access: true
apparmor: false

# Volvemos al formato de lista que pide tu Supervisor, 
# pero añadimos todas las necesarias para el acceso al hardware.
privileged:
  - SYS_ADMIN
  - SYS_RAWIO
  - SYS_TIME
  - DAC_READ_SEARCH

hardware: usb

# Eliminamos 'devices' para evitar el warning de "selective device access"
# que también bloquea la interfaz.

map:
  - config:rw

options:
  device: "/dev/hidraw0"
  mqtt_host: "192.168.1.XXX"
  mqtt_user: "mqtt-user"
  mqtt_password: "mqtt-user1234"
  mqtt_port: 1883

schema:
  device: str
  mqtt_host: str
  mqtt_user: str
  mqtt_password: password
  mqtt_port: int
