name: "Voltronic Inverter GCC Fix"
description: "Versión addon para fallos de compilación std::string"
version: "1.0.5"
slug: "voltronic_gcc_fix"
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
init: false
full_access: true
apparmor: false
privileged: true
devices:
  - /dev/bus/usb:/dev/bus/usb
  - /dev/hidraw0:/dev/hidraw0
  - /dev/hidraw1:/dev/hidraw1
  - /dev/ttyUSB0:/dev/ttyUSB0
map:
  - "config:/etc/inverter:rw"
options:
  device: "/dev/hidraw0"
  mqtt_host: "192.168.1.XXX"
  mqtt_user: "mqtt-user"
  mqtt_password: "mqtt-user1234"
  mqtt_port: 1883
schema:
  device: str
  mqtt_host: str
  mqtt_user: str
  mqtt_password: password
  mqtt_port: int
