name: "Voltronic Inverter HAOS"
description: "Addon para leer datos del inversor Voltronic con compatibilidad HAOS"
version: "1.1.1"
slug: "voltronic_haos"
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
init: false
full_access: true
apparmor: false
privileged: true  # <--- CAMBIO CLAVE: Úsalo como booleano para evitar errores
hardware: usb

# Hemos quitado la sección 'devices' porque con full_access: true es redundante 
# y causaba el warning que bloqueaba la configuración.

map:
  - config:rw

options:
  device: "/dev/hidraw0"
  mqtt_host: "192.168.1.XXX"
  mqtt_user: "mqtt-user"
  mqtt_password: "mqtt-user1234"
  mqtt_port: 1883

schema:
  device: str
  mqtt_host: str
  mqtt_user: str
  mqtt_password: password
  mqtt_port: int
