name: "Voltronic Inverter HAOS"
description: "Addon para leer datos del inversor Voltronic con compatibilidad HAOS"
version: "1.0.8"
slug: "voltronic_haos"
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
init: false
full_access: true
apparmor: false

# Privileged ahora es lista, aunque uses full_access
privileged:
  - SYS_ADMIN
  - SYS_RAWIO

# Devices opcional, se puede omitir si full_access=true
# devices:
#   - /dev/hidraw0

map:
  - config:rw

options:
  device: "/dev/hidraw0"
  mqtt_host: "192.168.1.XXX"
  mqtt_user: "mqtt-user"
  mqtt_password: "mqtt-user1234"
  mqtt_port: 1883

schema:
  device: str
  mqtt_host: str
  mqtt_user: str
  mqtt_password: password
  mqtt_port: int
